@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff top center no-repeat;
    font: 88% 'Lato', sans-serif;
    line-height: 1.6em;
}

a {
    color: maroon;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1em;
    letter-spacing: 0px;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 2.0em;
    letter-spacing: 0px;
}

h3 {
    font-size: 1.5em;
    margin: 30px 0 15px 0;
    letter-spacing: 0px;
    border-bottom: 1px solid #eee;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 1.6em;
}

h3.div {
    margin-top: 20px;
    margin-bottom: 20px;
}

#wrap {
    width: 980px;
    margin: 0 auto;
}

#content {
    font-size: 1.0em;
    padding: 40px;
}

.year {
    margin-bottom: 10px;
    font-size: 1.2em;
}

ul#useful li {
    list-style-type: ">  ";
    padding-left: 5px;
    margin: 5px 15px;
}

ul#papers li {
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 15px;
    text-align: justify;
}

ul#papers li.tuto {
    border-left: 3px solid Peru;
}

ul#papers li.conf {
    border-left: 3px solid Maroon;
}

ul#papers li.jour {
    border-left: 3px solid MidnightBlue;
}

ul#papers li.thesis {
    border-left: 3px solid DarkSlateGray;
}

#lastUpdated {
    display: block;
    clear: left;
    font-size: 1.0em;
    color: #aaa;
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding-top: 5px;
}

.clear {
    clear: both;
}

#bio::after {
    content: "";
    clear: both;
    display: block;
}

/* For desktop: */

.bio-col-1 {
    width: 75%;
    float: left;
    /* padding-top: 15px; */
}

#contact {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.bio-col-2 {
    width: 21%;
    float: right;
    /* margin-top: 20px; */
}

.bio-col-2 img {
    width: 100%;
    /* border-radius: 8%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio-col-1 p {
    text-align: justify;
}

#research {
    margin-top: 20px;
}

.research-col-1 {
    width: 44%;
    float: left;
    margin-right: 40px;
}
.research-col-1 img {
    width: 100%;
    display: block;
}

.research-col-2 {
    width: 50%;
    float: left;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: justify;
}
.research-col-2 p#title {
    margin-bottom: 5px;
}
.research-col-2 ul {
    margin-bottom: 15px;
}
ul.arrow li {
    list-style-type: ">  ";
    margin-left: 15px;
    padding-left: 5px;
}

.service {
    margin-bottom: 10px;
}

.service .title {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.service .arrow {
    margin-bottom: 15px;
}


/* For mobile phones: */

@media only screen and (max-width: 600px) {
    #wrap {
        width: 100%;
    }

    #content {
        padding: 4%;
    }

    #bio {
        display: flex;
        flex-direction: column-reverse;
    }

    [class*="bio-col-"] {
        width: 100%;
    }

    .bio-col-1 {
        text-align: center;
        padding-top: 0;
    }

    #contact {
        text-align: center;
    }

    .bio-col-2 {
        margin-bottom: 10px;
    }

    .bio-col-2 img {
        width: 45%;
    }

    [class*="research-col-"] {
        width: 100%;
        /* margin-bottom: 10px; */
    }

    .research-col-1 {
        margin-bottom: 10px;
    }

    .research-col-2 {
        margin-top: 10px;
    }
}